.switch-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
  background: var(--background);
  border-radius: 15px;
  transition: background 0.3s, box-shadow 0.3s;
  border: 2px solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(155, 89, 255, 0.3);
}

.switch.on {
  box-shadow: 0 4px 6px rgba(155, 89, 255, 0.6);
}

.switch:hover {
  box-shadow: 0 6px 8px rgba(155, 89, 255, 0.45);
}

.switch.on:hover {
  box-shadow: 0 6px 8px rgba(155, 89, 255, 0.75);
}

[data-theme='dark'] .switch {
  box-shadow: 0 0 30px var(--neon-blue-rgb);
}

[data-theme='dark'] .switch:hover {
  box-shadow: 0 0 30px var(--neon-blue-rgb);
}

[data-theme='light'] .switch {
  box-shadow: 0 0 10px rgba(155, 89, 255, 0.6);
}

[data-theme='light'] .switch:hover {
  box-shadow: 0 0 15px rgba(155, 89, 255, 0.75);
}

.icon {
  position: relative;
  top: 10%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  transition: opacity 0.3s, transform 0.8s;
}

.sun {
  opacity: 1;
  transform: scale(1);
  color: var(--text-color);
}

.moon {
  opacity: 0;
  transform: scale(0);
  color: var(--text-color);
}

.switch.on .sun {
  opacity: 0;
  transform: scale(0);
}

.switch.on .moon {
  opacity: 1;
  transform: scale(1);
}