:root {
  --text-color: #896FBC;
  --highlight-color: #5C038C;
  --background-light: #E8DEF3;
  --background-dark: #171717;
  --foreground-light: #0a0a0a;
  --foreground-dark: #FFF;

/*other colors*/
  --dark-gray: #333333;
  --border-card: #ccc;
  --border-card-dark: #444;
  --grid-white: #f0f0f0;
  --card-background: #f9f9f9;
  --card-bacground-dark: #2a2a2a;
  --blog-card-border: #ddd;
}

[data-theme='light'] {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

[data-theme='dark'] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  color: var(--highlight-color);
}

h3, h4, h5, h6 {
  color: var(--text-color);
}

.nav-link:hover,
.nav-link.active,
.social-icon:hover,
.form-button:hover {
  color: var(--highlight-color);
}

.light {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}
