.holographic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background-dark);
}

.holographic-card {
  width: 300px;
  height: 200px;
  background: var(--foreground-light);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px rgba(137, 111, 188, 0.3);
}

.holographic-card h2 {
  color: var(--text-color);
  font-size: 1.5rem;
  position: relative;
  //z-index: 2;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
                  0deg,
                  transparent,
                  transparent 30%,
                  rgba(137, 111, 188, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--text-color);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}


[data-theme='light'] .holographic-card {
  background: var(--foreground-dark);
  box-shadow: 0 4px 8px rgba(137, 111, 188, 0.3);
}

[data-theme='light'] .holographic-card h2 {
  color: var(--highlight-color);
}

[data-theme='light'] .holographic-card:hover {
  box-shadow: 0 0 20px var(--highlight-color);
}