.contact-form-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    width: 100%;
  }
}

.contact-form, .contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
}

.contact-info h2 {
  color: var(--highlight-color);
}

.social-icons {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border-radius: 10%;
      background: linear-gradient(45deg, var(--i), var(--j));
      filter: blur(10px);
      z-index: -1;
      opacity: 0.7;
      transition: opacity 0.5s;
    }

    [data-theme='dark'] &::before {
      background: rgba(102, 204, 255, 0.2);
    }

    [data-theme='light'] &::before {
      background: rgba(155, 89, 255, 0.3);
    }
  }
}

.contact {
  font-size: 1.2rem;
  color: var(--text-color);
}

.contact-info-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form.light {
  color: var(--dark-gray);
}

.contact-form.dark {
  color: var(--grid-white);
}

.form-input,
.form-textarea {
  padding: 0.75rem;
  border: 1px solid var(--blog-card-border);
  border-radius: 0.5rem;
}

.form-input.light,
.form-textarea.light {
  background: var(--foreground-dark);
  border-color: var(--border-card);
  color: var(--dark-gray);
}

.form-input.dark,
.form-textarea.dark {
  background: var(--card-bacground-dark);
  border-color: var(--border-card-dark);
  color: var(--grid-white);
}

.form-button {
  padding: 0.75rem 1.5rem;
  background: var(--highlight-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form-button.light {
  background: var(--text-color);
  color: var(--grid-white);
}

.form-button.light:hover {
  background: var(--highlight-color);
}

.form-button.dark {
  background: var(--highlight-color);
  color: var(--grid-white);
}

.form-button.dark:hover {
  background: var(--text-color);
}
